---
application-name: Looking-Glass
author: Mort
generator: Jekyll 1.0.3
cover-image: /images/m.png
---
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
<head>
    <meta charset="UTF-8" />
    <meta name="application-name" content="{{ page.application-name }}" />
    <meta name="author" content="{{ page.author }}" />
    <meta name="generator" content="{{ page.generator }}" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    
    <meta itemprop="name" content="{{ page.title }}" />
    <meta itemprop="description" content="{{ page.description }}" />
    <meta itemprop="image" content="{{ page.cover-image }}" />
    
    <title>{{ page.author }} | {{ page.title }}</title>
    
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
    <link rel="icon" type="image/x-icon" href="http://www.soimort.org/favicon.ico" />
    
    <link rel="author" type="text/html" href="https://plus.google.com/100974147585154622588/about" />
    <link rel="license" type="text/html" href="http://creativecommons.org/licenses/by-sa/3.0/" />
    
    <!-- Google Web Fonts (not in use) -->
    <!-- link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Droid+Sans' / -->
    
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/mobile.css" media="all and (max-width:1023px)" />
    
    <!-- Highlight.js -->
    <link rel="stylesheet" href="/css/tomorrow-night.min.css">
    <script src="/js/highlight.pack.js"></script>
    <!-- script>hljs.initHighlightingOnLoad();</script -->
    
    <!-- Pygments -->
    <link rel="stylesheet" type="text/css" href="/css/pygments.css" media="all" />
    
    <!-- jQuery & Galleria -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="/plugins/galleria/galleria-1.2.8.min.js"></script>
    
    <!-- MathJax (not in use) -->
    <!-- script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script -->
    
    <!-- ShareThis (not in use) -->
    <!-- script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "9aabed9c-ac3f-4f96-8f5a-8e7a27307543"}); </script -->
    
    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27086900-1']);
        _gaq.push(['_setDomainName', '.soimort.org']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    
    <script type="text/javascript" src="/js/main.js"></script>
    
</head>

<body>
    <!-- load background image (must be put in body) -->
    <script type="text/javascript">
        document.body.style.backgroundImage = "url('{{ page.background-image }}')";
    </script>
    
    <nav id="navBarTop">
        <ul class="navBarListLeft">
            <li><a href="/"><img src="/images/home.png" alt="home" title="Home" class="navDock" height="32" /></a></li>
            <li><a href="/atom.xml" target="_blank"><img src="/images/feed.png" alt="feed" title="Feed" class="navDock" height="32" /></a></li>
            <span id="spanBadges">
                <li style="position: relative; top: -12px; font-size: 16px"><code>(badges</code></li>
                <li style="position: relative; top: 0px; font-size: 16px" id="coderwall"></li>
                <li style="position: relative; top: -12px; font-size: 16px"><code>)</code></li>
            </span>
            <!-- li style="position: relative; top: -12px; font-size: 16px"><a href="/" title="Hello world" target="_blank">Hello world</a></li -->
        </ul>
        
        <ul class="navBarListRight">
            <li style="position: relative; top: -12px"><b>{{ page.author }}</b> on </li>
            <!-- Google+ --><li><a href="https://plus.google.com/100974147585154622588" target="_blank"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="gplus" title="Google+" class="navDock" height="32" /></a></li>
            <!-- Twitter --><li><a href="https://twitter.com/soimort" target="_blank"><img src="/images/twitter.png" alt="twitter" title="Twitter" class="navDock" height="32" /></a></li>
            <!-- Facebook --><!-- li><a href="https://www.facebook.com/soimort" target="_blank"><img src="/images/facebook.png" alt="facebook" title="Facebook" class="navDock" height="32" /></a></li -->
            <!-- LinkedIn --><li><a href="http://www.linkedin.com/in/soimort" target="_blank"><img src="/images/linkedin.png" alt="linkedin" title="Linkedin" class="navDock" height="32" /></a></li>
            <!-- Blogger --><li><a href="http://blog.soimort.org" target="_blank"><img src="/images/blogger.png" alt="blog" title="Blogger" class="navDock" height="32" /></a></li>
            <!-- Tumblr --><li><a href="http://microblog.soimort.org" target="_blank"><img src="/images/tumblr.png" alt="microblog" title="Tumblr" class="navDock" height="32" /></a></li>
            <!-- Ameba --><!-- li><a href="http://ameblo.jp/soimort/" target="_blank"><img src="/images/ameba.png" alt="ameba" title="Ameba" class="navDock" height="32" /></a></li -->
            <!-- deviantArt --><li><a href="http://soimort.deviantart.com" target="_blank"><img src="/images/deviantart.png" alt="deviantart" title="deviantART" class="navDock" height="32" /></a></li>
            <!-- pixiv --><!-- li><a href="http://www.pixiv.net/member.php?id=5106162" target="_blank"><img src="/images/pixiv.png" alt="pixiv" title="Pixiv" class="navDock" height="32" /></a></li -->
            <!-- Coderwall --><li><a href="http://coderwall.com/soimort" target="_blank"><img src="/images/coderwall.png" alt="coderwall" title="Coderwall" class="navDock" height="32" /></a></li>
            <!-- GitHub --><li><a href="http://github.com/soimort" target="_blank"><img src="/images/github.png" alt="github" title="GitHub" class="navDock" height="32" /></a></li>
        </ul>
    </nav>
    
    <nav id="navBarBottom">
        <div class="navBarListLeft">
            <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" height="28" alt="CC BY-SA 3.0 License" title="CC BY-SA 3.0 License" /></a>
            <br />
            <div style="position: relative; top: 4px; width: 60%">
                © 2013 <a href="https://plus.google.com/100974147585154622588/about" target="_blank"><b>Mort Yao</b></a>. Unless otherwise stated, all contents on this site are released under a <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank"><b>CC BY-SA 3.0 License</b></a>.
            </div>
        </div>
        
        <div class="navBarListRight">
            <a href="http://www.w3.org/html/logo/" target="_blank" style="position: absolute; right: 0"><img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" height="36" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics" /></a>
            <br />
            <div style="position: relative; top: 20px; right: 0">
                Designed by <a href="https://github.com/soimort" target="_blank"><b>Mort</b></a> | Powered by <a href="http://jekyllrb.com/" target="_blank"><b>Jekyll</b></a>
            </div>
        </div>
    </nav>
    
    {{ content }}
    
</body>
</html>
